{% extends "inventory/base.html" %}
{% block content %}
<div class="itemContainer">
  <a href="{% url "dashboard"%}" class="btnBack">Go Back</a>
    <div class="items">
        <h2 class="inventoryItem">Inventory Item</h2>
        <form method="POST" class="form">
            {% csrf_token %}

            <div class="form_Group">
                <label for="{{ form.name.id_for_label}}">Name</label>
                {{ form.name }}
              </div>

            <div class="form_Group">
                <label for="{{ form.quantity.id_for_label }}">Quantity</label>
                {{ form.quantity }}
              </div>

            <div class="form_Group">
                <label for="{{ form.category.id_for_label }}">Category</label>
                {{ form.category }}
              </div>

            
                {% comment %} <button class="btnItem">Add Item</button>

        </form>
    </div> {% endcomment %}
</div>
{% endblock content %}
