{% extends "inventory/base.html" %} {% block content %} {% load static %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}" />

<div class="dashboardContainer">
  <div class="dashboard">
    <div class="btnContainer">
      <a href="{% url "addItem"%}" class="btnAdd">+</a>
    </div>
    <table class="inventoryTable">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>QTY</th>
          <th>Category</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% if items|length == 0 %}
        <tr>
          <th>-</th>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td></td>
        </tr>
        {% endif %} {% for item in items%}
        <tr>
          <td scope="row">{{item.id}}</td>
          <td scope="row">{{item.name}}</td>
          <td scope="row">{{item.quantity}}</td>
          <td scope="row">{{item.category.name}}</td>
          <td><a href="{%url "editItem" item.id %}" class="editBtn">Edit</a></td>
          <td></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock content %}
