{% extends "inventory/base.html" %}
{% block content %}
<div class="itemContainer">
  <a href="{% url "dashboard"%}" class="btnBack">Go Back</a>
    <div class="items">
        <h2>Inventory Item</h2>
        <form method="POST" class="form">
            {% csrf_token %}
            <div class="form_Group">
                <label for="{{ form.email.id_for_label }}">Name</label>
                {{ form.email }}
              </div>
            <div class="form_Group">
                <label for="{{ form.email.id_for_label }}">Quantity</label>
                {{ form.email }}
              </div>
            <div class="form_Group">
                <label for="{{ form.email.id_for_label }}">Category</label>
                {{ form.email }}
              </div>
            {% comment %} <div class="btnItemContainer"> {% endcomment %}
                <button class="btnItem">Add Item</button>
            {% comment %} </div> {% endcomment %}
        </form>
    </div>
</div>
{% endblock content %}
