{% extends "inventory/base.html" %}
{% block content %}
<a href="{% url "dashboard"%}" class="btn">Go Back</a>
<div class="row">
    <div class="container">
        <h2>Inventory Item</h2>
        <form method="POST">
            {% csrf_token %}
            <div class="formGroup">
                <label for="{{ form.email.id_for_label }}">Name</label>
                {{ form.email }}
              </div>
            <div class="formGroup">
                <label for="{{ form.email.id_for_label }}">Quantity</label>
                {{ form.email }}
              </div>
            <div class="formGroup">
                <label for="{{ form.email.id_for_label }}">Category</label>
                {{ form.email }}
              </div>
            <div class="btnContainer">
                <button class="btn">Add Item</button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}
