{% comment %} {% load static %}
<link rel="stylesheet" href="{% static 'inventory/css/styles.css' %}" />

{% block content %}
<nav class="navbarContainer">
  <div class="navbarTitle">
    <a href="{% url 'index' %}">Inventory Manager</a>
  </div>
  <div class="navbarBtn">
    <ul>
      {% if user.is_authenticated %}
      <li>
        <a href="#" class="username">{{ user.username }}</a>
      </li>
      <li>
        <form action="{% url 'logout' %}" method="post" style="display: inline">
          {% csrf_token %}
          <button type="submit" class="btnSubmit">Sign Out</button>
        </form>
      </li>
      {% else %}
      <li>
        <a href="{% url 'login' %}">Sign In</a>
      </li>
      <li>
        <a href="{% url 'signup' %}">Sign Up</a>
      </li>
      {% endif %}
    </ul>
  </div>
</nav>
{% endblock %} {% endcomment %}
